.type-button {
  display: inline-flex;
  margin-right: 5px;
  padding: 4px 8px;

  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1.75;
  text-transform: uppercase;
  color: black;
  text-align: center;

  border-radius: 4px;
}